.number {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    color: black;
    font-size: 16px;
    background-color: rgb(223, 219, 219);
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease-out;
    border-color: rgba(118, 118, 118, 0.3);
}

.og-number {
  font-weight: bold;
}

.non-og-number:hover {
    background: rgb(247, 245, 245);
}

.b-right {
  border-right: 1px solid black
}

.b-bottom {
  border-bottom: 1px solid black
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
